.grid__gifs {
  column-count: 4;
  column-gap: 10px;
}
.text__category {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
@media screen and (max-width: 960px) {
  .grid__gifs {
    column-count: 3;
  }
}
@media screen and (max-width: 768px) {
  .grid__gifs {
    column-count: 2;
  }
}

@media screen and (max-width: 414px) {
  .grid__gifs {
    column-count: 1;
  }
}
